<ion-view view-title="Login">
    <ion-nav-buttons>
    </ion-nav-buttons>
  <ion-content class="padding">
  <form ng-submit='login()'>
    <div class="list">
    <label class="item item-input">
      <input type="text" ng-model='credentials.email' placeholder="email">
    </label>
    <label class="item item-input">
      <input type="text" placeholder="password" ng-model='credentials.password'>
    </label>
    </div>
    <button class='button'>Login</button>
    <a class='button' ui-sref='tab.home'>Cancel</a>
  </form>
  <p class='padding'>
  <h4>Have an account? <a ui-sref='login'>Sign In!</a></h4>
  </p>
  </ion-content>
</ion-view>
