<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        Enable Friends
    </ion-toggle>
    <button class='button button-block' ng-click='logout()'>Logout</button>
    <div class='card' ng-repeat='address in addresses'>
      <div class='item'>
        {{ address.street }}
      </div>
    </div>
    <div class='card'>
      <div class='item'>
        <pre>
          {{ auth | json }}
        </pre>
      </div>
    </div>
    </ion-list>
  </ion-content>
</ion-view>
