<ion-view view-title="{{department.name}}">
    <ion-nav-buttons side="secondary">
      <button class="button ion-chevron-left icon-left button-calm" ng-click="previous()" ng-disabled='idx == 0'>
        Previous
      </button>
      &nbsp;
      <button class="button ion-chevron-right icon-right button-calm" ng-click="next()" ng-disabled='departments.length - 1 === idx'>
        Next
      </button>
    </ion-nav-buttons>
  <ion-content class="padding">
    <div class='card'>
      <div class='item'>
        <pre>
          {{ department }}
        </pre>
      </div>
    </div>
  </ion-content>
</ion-view>
