<ion-view cache-view='false' view-title="{{category.name}}">
  <ion-content class="padding">
    <ion-list>
      <ion-item class='item-button-right' ng-class="{'calm': isFavorite(product)}" ng-repeat="product in products" type="item-text-wrap">
        {{product.name }}
            <button class="button button-positive" ng-click='addFavorite(product)' ng-show='!isFavorite(product) && loggedIn()'>
              <i class="icon ion-plus-round"></i>
            </button>
            <button class="button button-negative" ng-click='removeFavorite(product)' ng-show='isFavorite(product) && loggedIn()'>
              <i class="icon ion-minus-round"></i>
            </button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
